<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>anyServlet1</servlet-name>
    <servlet-class>architect.example1.controller.AnyController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>anyServlet1</servlet-name>
    <url-pattern>/anyServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>anyServlet2</servlet-name>
    <servlet-class>architect.example2.controller.AnyController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>anyServlet2</servlet-name>
    <url-pattern>/anyServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>anyServlet3</servlet-name>
    <servlet-class>architect.example3.controller.AnyController3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>anyServlet3</servlet-name>
    <url-pattern>/anyServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>anyServlet4</servlet-name>
    <servlet-class>architect.example4.controller.AnyController4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>anyServlet4</servlet-name>
    <url-pattern>/anyServlet4</url-pattern>
  </servlet-mapping>
</web-app>